.checkoutContainer{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: #050505a4;
    z-index: 9999999;
}

.checkout{
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    height: 90% !important;
    background-color: var(--mainColour-color);
    border-radius: 5px;
    padding: 20px 0px;
}

.checkoutTitle{
    position: relative;;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    font-weight: bold;
    width: 60%;
    border-bottom: 1px solid #050505;
    height: 30%;
    font-size: 4rem;
}

.checkoutInfo {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    height: 60%;
}

.applyBtns{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 20px;
    width: 100%;
}

.online, .f2f{
    height: fit-content;
    text-transform: capitalize;
    padding: 20px;
    font-size: 3rem;
    background-color: transparent;
    text-decoration: none;
    color: #48BEFF;
    border-color: #48BEFF;
    border-radius: 50px;
    border-style: groove;
    text-shadow: 1px 1px grey;
    cursor: pointer;
    text-align: center;
    width: 50%;
    font-family: 'Times New Roman', Times, serif;
}

.online:hover, .f2f:hover{
    background-color: #48BEFF;
    color: var(--mainColour-color);
}

.f2f-container{
    position: relative;
    display: grid;
    grid-template-areas: 'name contact email'
    'date date date'
    'submit submit submit';
    width: 100%;
    height: 100%;
    row-gap: 10px;
    grid-template-columns: 33.33% 33.33% 33.33% ;
}

[class*="client"]{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

[id*="c"]{
    width: 90%;
    height: 40%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid black;
}

.clientName{
    grid-area: name;
}
.clientDate{
    grid-area: date;
}
.clientPhone{
    grid-area: contact;
}
.clientEmail{
    grid-area: email;
}
.submit{
    grid-area: submit;
    width: 100%;
    padding: 10px 0px;
}

#submitClient{
    width: 30%;
    padding: 15px 10px;
    background-color: var(--footerColour-background-colour);
    font-size: 3rem;
}

.checkoutCloseContainer{
    width: 100%;
}

.close{
    position: relative;
    float: right;
    right: 5%;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}
.close:hover{
    color: rgba(128, 128, 128, 0.419);
}

/* to remove anything from the screen */
.no-show{
   display: none;
}

#day{
    padding: 10px 0px;
    margin-top: 20px;
    font-size: 2rem;
}

.goBack{
    padding-left: 10px;
    position: relative;
    display: block;
    height: 100px;
    font-size: 2rem;
    background: transparent;
    border: 0;
    text-decoration: solid;
    letter-spacing: 2px;
}

.goBack:hover{
    text-decoration: underline;
}

.f2fMethod{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

@media (orientation: landscape){
    
    /* @media screen and (max-width: 998px) {
        .checkout{
           width: max-content;
     }
    }
    @media screen and (max-width: 730px) {
        .f2f-container{
            position: relative;
            margin-top: 10%;
            display: grid;
            grid-template-areas: 'name '
        'contact' 
        'email'
        'date'
        'submit';
            width: 100%;
            grid-template-columns: 100%;
        }
    } */

    @media (max-width: 1688px){
        .f2f-container{
            display: grid;
            grid-template-areas: 'name contact'
            'email email'
            'date date'
            'submit submit';
            width: 100%;
            grid-template-columns: 50% 50% ;
            justify-items: center;
        }
        [class*="client"]{
    width: 80%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

    }

    @media (max-width: 1440px){
        
        /* .checkout{
            width: 700px;
            height: 850px;
        } */
        
        .checkoutTitle{
            font-size: 3rem;
        }
        .f2f-container{
            display: grid;
            grid-template-areas: 'name '
            'contact'
            'email'
            'date'
            'submit';
            width: 100%;
            grid-template-columns: 60% ;
            justify-items: center;
            justify-content: center;
            row-gap: 50px
        }
        .clientDate{
            height: max-content;
            width: 100%;
            grid-area: date;
        }
        #day{
            width: 90%;
            padding: 5px 0px;
            margin-top: 20px;
            font-size: 2rem;
        }
        #submitClient{
            width: 30%;
            padding: 15px 10px;
            background-color: var(--footerColour-background-colour);
            font-size: 2rem;
        }
        
    }
    @media (max-width: 1100px){
        
        /* .checkout{
            width: 600px;
            height: 750px;
        }
         */
        .checkoutTitle{
            font-size: 2.75rem;
        }
        
        .online, .f2f{
            font-size: 2rem;
        }
    }
    @media (max-width: 940px){
        
        /* .checkout{
            width: 500px;
            height: 650px;
        } */
        
        .checkoutTitle{
            font-size: 2rem;
        }
        
        .online, .f2f{
            font-size: 1.75rem;
        }
        /* .checkout{
            width: 500px;
            height: 650px;
        } */
        .goBack{
            font-size: 1rem;
        }

        [class*="client"]{
            font-size: 2rem;
        }

        #day{
            font-size: 1rem;
        }

        .checkoutTitle{
            font-size: 2rem;
        }
        
        .online, .f2f{
            font-size: 1.75rem;
        }

        #submitClient{
            width: 50%;
            font-size: 1rem;
            font-weight: bold;
        }
    }
    @media (max-width: 731px){
        
        
        .checkoutTitle{
            font-size: 1.5rem;
        }
        
        .online, .f2f{
            font-size: 1rem;
            padding: 5px;
        }
        .goBack{
            font-size: 1rem;
        }

        [class*="client"]{
            font-size: 1.5rem;
        }

        #submitClient{
            width: 50%;
            font-size: 1rem;
            font-weight: bold;
        }

        .f2f-container{
            row-gap: 10px;
        }
    }
    @media (max-width: 713px){
        

        [class*="client"]{
            font-size: 1.25rem;
        }

        #submitClient{
            width: 50%;
            font-size: 1rem;
            font-weight: bold;
        }

        .f2f-container{
            row-gap: 0px;
        }

        #day{
            font-size: 0.75rem;
        }
    }
    @media (max-width: 500px){
        
        .checkout{
            width: 100%;
            height: 100% !important;
        }
    }
}
