.appointment-container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: #050505a4;
    z-index: 9999999;
}

.appointment{
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    height: 90% !important;
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
    padding: 20px 0px;
}

.appointment-title{
    position: relative;;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    font-weight: bold;
    width: 60%;
    border-bottom: 1px solid #050505;
    height: 30%;
    font-size: 4rem;
}

/* .checkoutInfo {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    height: 60%;
}

.applyBtns{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 20px;
    width: 100%;
}

.online, .f2f{
    height: fit-content;
    text-transform: capitalize;
    padding: 20px;
    font-size: 3rem;
    background-color: transparent;
    text-decoration: none;
    color: var(--footerColour-background-colour);
    border-color: var(--footerColour-background-colour);
    border-radius: 50px;
    border-style: groove;
    text-shadow: 1px 1px grey;
    cursor: pointer;
    text-align: center;
    width: 50%;
    font-family: 'Times New Roman', Times, serif;
} */
/* 
.online:hover, .f2f:hover{
    background-color: var(--footerColour-background-colour);
    color: var(--mainColour-color);
} */
.book-appointment {
    top: 0;
    position: fixed;
    background-image: url(https://mardanca.github.io/hubbcentralservicesinc.github.io/Photos/appointment.jpg);
    background-size: cover;
    width: 100vw;
    height: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.down{
    height:100vh;
}
.close-form{
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    padding: 25px;
    font-size: 2rem;
    background: none;
    border: 0;
    color: red;
}
.book-container{
    position: relative;
    display: grid;
    grid-template-areas: 'name'
    ' contact'
    ' email'
    'date '
    'submit ';
    width: 100%;
    height: 100%;
    /* align-items: center; */
    justify-content: center;
    row-gap: 30px;
}

[class*="client"]{
    color: aliceblue;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

[class*='client'] label{
    align-self: start;
    font-size: 1.5rem;
}


[id*="c"]{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid aliceblue;
}

.clientName{
    grid-area: name;
}
.clientDate{
    grid-area: date;
}
.clientPhone{
    grid-area: contact;
}
.clientEmail{
    grid-area: email;
}
.submit{
    grid-area: submit;
    width: max-content;
    padding: 10px 0px;

}

#submitClient{
    color: aliceblue;
    border-color: aliceblue;
    border-width: 3px;
    width: max-content;
    padding: 10px 50px;
    background-color: var(--footerColour-background-colour);
    font-size: 2rem;
    border-radius: 50px;
    position: absolute;
        right: 30px;
        bottom: 30px;
}

#submitClient i{
    padding-left: 20px;
}

.book-title{
    text-transform: uppercase;
    padding: 100px 0;
    font-size: 75px;
    color: aliceblue;
}

.book-desc{
    color: aliceblue;
    padding: 50px 0;
    font-size: 25px;
}

.appointment-close{
    width: 100%;
}

.close{
    position: relative;
    float: right;
    right: 5%;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}
.close:hover{
    color: rgba(128, 128, 128, 0.419);
}

#day{
    padding: 10px 0px;
    margin-top: 20px;
    font-size: 1rem;
}

.goBack{
    padding-left: 10px;
    position: relative;
    display: block;
    height: 100px;
    font-size: 2rem;
    background: transparent;
    border: 0;
    text-decoration: solid;
    letter-spacing: 2px;
}

.goBack:hover{
    text-decoration: underline;
}

.method-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.method-choice {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
row-gap: 25px;
    height: max-content;
}

.method-choice>label {
    display: flex;
    padding: 20px;
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: max-content;
    font-size: 2rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* box-shadow: -10px -10px 10px grey; */
    border-radius: 100px;
    box-shadow: inset 10px 10px 20px rgba(128, 128, 128, 0.416), 5px 5px 20px rgba(128, 128, 128, 0.461);
}

.method-choice>label input {
    position: relative;
    opacity: 0;
    cursor: pointer;
}

.method-choice>label:hover{
    box-shadow: inset 30px 30px 20px rgba(255, 255, 255, 0.724),
       inset 5px 5px 20px rgba(129, 129, 129, 0.461);
}

#online,
#person {
    width: 25px;
    height: 25px;
}

.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 3px outset var(--footerColour-background-colour);
    border-radius: 100%;
    /* color: var(--footerColour-background-colour); */
}
/* 
.method-choice>label:hover input~.checkmark {
    background-color: #ccc;
} */

.method-choice>label input:checked~.checkmark {
    background-color: transparent;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.method-choice>label input:checked~.checkmark:after {
    display: block;
}

.method-choice>label .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid var(--footerColour-background-colour);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.continue-button {
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 50px;
    background: none;
    border: 3px outset var(--footerColour-background-colour);
    color: var(--footerColour-background-colour);
}

.continue-button:hover {
    background-color: var(--footerColour-background-colour);
    border-color: aliceblue;
    color: aliceblue;
}

.appointmentMessage{
    text-decoration: underline;
    font-weight: bold;
    text-transform: none;
    font-style: italic;
}
@media (orientation: landscape){
    
    /* @media screen and (max-width: 998px) {
        .checkout{
           width: max-content;
     }
    }
    @media screen and (max-width: 730px) {
        .f2f-container{
            position: relative;
            margin-top: 10%;
            display: grid;
            grid-template-areas: 'name '
        'contact' 
        'email'
        'date'
        'submit';
            width: 100%;
            grid-template-columns: 100%;
        }
    } */

    @media (max-width: 1688px){
        /* .book-container{
            display: grid;
            grid-template-areas: 'name contact'
            'email email'
            'date date'
            'submit submit';
            width: 100%;
            grid-template-columns: 50% 50% ;
            justify-items: center;
            row-gap: 50px;
        } */
        [class*="client"]{
    /* width: 80%; */
    height: 150px;
}
    }

    @media (max-width: 1440px){
        
        /* .checkout{
            width: 700px;
            height: 850px;
        } */
        
        .appointment-title{
            font-size: 3rem;
        }
        .clientDate{
            height: max-content;
            width: 100%;
            grid-area: date;
        }
        #day{
            width: 90%;
            padding: 5px 0px;
            margin-top: 20px;
            font-size: 2rem;
        }
        #submitClient{
            /* width: 30%; */
            padding: 15px 10px;
            background-color: var(--footerColour-background-colour);
            font-size: 2rem;
        }
        .goBack{
            font-size: 1rem;
        }
        [class*="client"]{
            width: 80%;
            height: 100px;
            align-items: start;
            font-size: 2rem;
        }
    }
    @media (max-width: 1100px){
        
        /* .checkout{
            width: 600px;
            height: 750px;
        }
         */
        .appointment-title{
            font-size: 2.75rem;
        }
        
        /* .online, .f2f{
            font-size: 2rem;
        } */
    }
    @media (max-width: 940px){
        
        /* .checkout{
            width: 500px;
            height: 650px;
        } */
        
        .appointment-title{
            font-size: 2rem;
        }
/*         
        .online, .f2f{
            font-size: 1.75rem;
        } */
        /* .checkout{
            width: 500px;
            height: 650px;
        } */
        .goBack{
            font-size: 1rem;
        }

        [class*="client"]{
            font-size: 2rem;
            height: 150px;
        }


        .appointment-title{
            font-size: 2rem;
        }
/*         
        .online, .f2f{
            font-size: 1.75rem;
        } */

        #submitClient{
            width: 50%;
            font-size: 1rem;
            font-weight: bold;
        }
        
        .book-container{
            display: grid;
            grid-template-areas: 'name '
            'contact'
            'email'
            'date'
            'submit';
            width: 100%;
            grid-template-columns: 60% ;
            justify-items: center;
            justify-content: center;
            row-gap: 50px
        }

        #day{
            height: max-content;
            font-size: 1rem;
        }
    }
    @media (max-width: 731px){
        
        
        .appointment-title{
            font-size: 1.5rem;
        }
        
        /* .online, .f2f{
            font-size: 1rem;
            padding: 5px;
        } */
        .goBack{
            font-size: 1rem;
        }

        [class*="client"]{
            font-size: 1.5rem;
        }

        #submitClient{
            width: 50%;
            font-size: 1rem;
            font-weight: bold;
        }

        .book-container{
            row-gap: 10px;
        }
    }
    @media (max-width: 713px){
        

        [class*="client"]{
            font-size: 1.25rem;
        }

        #submitClient{
            width: 50%;
            font-size: 1rem;
            font-weight: bold;
        }

        .book-container{
            row-gap: 0px;
        }

        #day{
            font-size: 0.75rem;
        }
    }
    @media (max-width: 500px){
        
        .appointment{
            width: 100%;
            height: 100% !important;
        }
    }
}

@media (orientation: portrait){
    
    .book-container{
        display: grid;
        grid-template-areas: 'name contact'
        'email email'
        'date date'
        'submit submit';
        width: 100%;
        grid-template-columns: 50% 50% ;
        justify-items: center;
        row-gap: 50px;
    }
    
    [class*="client"]{
        width: 80%;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }

    @media (max-width: 1440px){
        
        /* .appointment{
            width: 700px;
            height: 850px;
        } */
        
        .appointment-title{
            font-size: 3rem;
        }
        .clientDate{
            height: max-content;
            width: 100%;
            grid-area: date;
        }
        #day{
            width: 90%;
            padding: 5px 0px;
            margin-top: 20px;
            font-size: 2rem;
        }
        #submitClient{
            width: 30%;
            padding: 15px 10px;
            background-color: var(--footerColour-background-colour);
            font-size: 2rem;
        }
        .goBack{
            font-size: 1rem;
        }
        [class*="client"]{
            width: 80%;
            height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
        }
    }
    @media (max-width: 1100px){
        
        /* .appointment{
            width: 600px;
            height: 750px;
        }
         */
        .appointment-title{
            font-size: 2.75rem;
        }
        
        .online, .f2f{
            font-size: 2rem;
        }
    }
    @media (max-width: 940px){
        
        /* .appointment{
            width: 500px;
            height: 650px;
        } */
        
        .appointment-title{
            font-size: 2rem;
        }
        
        .online, .f2f{
            font-size: 1.75rem;
        }
        /* .appointment{
            width: 500px;
            height: 650px;
        } */
        .goBack{
            font-size: 1rem;
        }

        [class*="client"]{
            font-size: 2rem;
            height: 150px;
        }


        .appointment-title{
            font-size: 2rem;
        }
        
        .online, .f2f{
            font-size: 1.75rem;
        }

        #submitClient{
            width: 50%;
            font-size: 1rem;
            font-weight: bold;
        }
        
        .book-container{
            display: grid;
            grid-template-areas: 'name '
            'contact'
            'email'
            'date'
            'submit';
            width: 100%;
            grid-template-columns: 60% ;
            justify-items: center;
            justify-content: center;
            row-gap: 50px
        }

        #day{
            height: max-content;
            font-size: 1rem;
        }
    }
    @media (max-width: 731px){
        
        
        .appointment-title{
            font-size: 1.5rem;
        }
        
        .online, .f2f{
            font-size: 1rem;
            padding: 5px;
        }
        .goBack{
            font-size: 1rem;
        }

        [class*="client"]{
            font-size: 1.5rem;
        }

        #submitClient{
            width: 50%;
            font-size: 1rem;
            font-weight: bold;
        }

        .book-container{
            row-gap: 10px;
        }
    }
    @media (max-width: 713px){
        

        [class*="client"]{
            font-size: 1.25rem;
        }

        #submitClient{
            width: 50%;
            font-size: 1rem;
            font-weight: bold;
        }

        .book-container{
            row-gap: 0px;
        }

        #day{
            font-size: 0.75rem;
        }
    }
    @media (max-width: 500px){
        
        .appointment{
            width: 100%;
            height: 100% !important;
        }
    }
}

/* to remove anything from the screen */
.no-show{
   display: none;
}